<mat-toolbar [hidden]="showSearch" >
  <div class="container-fluid">
    <div fxLayout="row">
      <div fxLayoutAlign="start center">
        <button mat-icon-button (click)="toggleSidebar()">
          <mat-icon>
            menu
          </mat-icon>
        </button>
        <span>HUMHERE</span>
      </div>

      <div fxFlex="1 1 auto"></div>

      <button mat-icon-button (click)="showSearch = !showSearch">
        <mat-icon>
          search
        </mat-icon>
      </button>


      <div fxHide.lt-sm="true" fxLayoutAlign="end center" fxFlexOffset="2">
        <mat-icon>
          location_on
        </mat-icon>
        <span matTooltip="Chosen city - {{selectedCity$ | async}}"
              matTooltipPosition="below">{{selectedCity$ | async}}</span>
        <div *ngIf="isLoggedIn$ | async" fxFlexOffset="7">
          <button mat-raised-button (click)="this.authService.logout()">Logout</button>
        </div>
        <div *ngIf="!(isLoggedIn$ | async)" fxFlexOffset="7">
          <button mat-raised-button (click)="login()">Login</button>
        </div>
      </div>
    </div>
  </div>
</mat-toolbar>

<mat-toolbar [hidden]="!showSearch" color="warning">
  <div class="container-fluid">
    <div fxLayout="row">
      <div fxLayoutAlign="start center">
        <button mat-button (click)="showSearch = !showSearch" aria-label="Back">
          <mat-icon>
            arrow_back
          </mat-icon> <span>BACK</span>
        </button>
      </div>

      <mat-form-field fxFlex="90" fxFlexOffset="3">
        <input matInput>
      </mat-form-field>

      <div fxLayoutAlign="end center" >
        <button mat-icon-button aria-label="Search" (click)="showSearch = !showSearch">
          <mat-icon>search</mat-icon>
        </button>
      </div>
    </div>
  </div>
</mat-toolbar>
