<div class="container jumpAbove">
  <mat-card class=rounded>
    <img mat-card-image style="height:200px" [src]="space.imageUrl" alt="space-sneak-peak">
    <mat-card-content>
      <p>{{space.name}} test</p>
      <div fxLayout="row" fxLayoutGap="5px">
        <mat-icon>
          location_on
        </mat-icon>
        <p class="text-info wrap">{{space.locatedAt}}</p>
      </div>
      {{space.openedOnDays}}
    </mat-card-content>
    <mat-card-actions *ngIf="!actionsHidden">
      <button mat-raised-button style="width: 100%">Book</button>
    </mat-card-actions>
  </mat-card>
</div>
